<h1>About Me</h1>
<hr>
<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg", width: "300", alt: "profile picture" %>
	</div>

	<div class="col-md-8">
		<p>Jr. Software Engineer at TekNuk Pakistan</p>
	</div>
</div>
